<td>
  <a href="/#customers/<%= model.get('id') %>">
    <h4 class="ui-li-heading"><%= model.escape('name') %></h4>
    <p class="ui-li-desc"><strong>Last payment: </strong>$ <%= model.get('last_payment').amount / 100 %></p>
  </a>
</td>
<td>
  <i class="icon-chevron-right"></i>
</td>
