<div class="form-actions">
  <a href="#" id="email-sale" class="btn btn-inverse"><i class="icon-envelope"></i> Email</a>
  <a href="#" class="btn btn-primary" id="add-item"><i class="icon-plus-sign"></i> Item</a>


  <div class="btn-group">
    <a class="btn dropdown-toggle btn-danger" data-toggle="dropdown" href="#">
      <i class="icon icon-remove-sign"></i> Delete
    </a>
    <ul class="dropdown-menu">
      <li><a href="#" id="delete-sale">Yes, Delete</a></li>
    </ul>
  </div>
</div>
