<div class="row">
  <div class="span12">
    <div id="panel-region" class="extra-margin"></div>
  </div>
</div>
<div class="row">
  <div class="span12">
    <div id="customer-region" class="well"></div>
  </div>
  <div id="transactions-region" class="span12"></div>
</div>
