<div class="btn-group">
  <a href="#" class="btn btn-small" id="edit-customer">Edit</a>
  <a href="#" class="btn btn-small" id="add-purchase"><i class="icon icon-plus-sign"></i> Purchase</a>
  <a href="#" class="btn btn-small" id="add-payment"><i class="icon icon-plus-sign"></i> Payment</a>
  <a href="#" class="btn btn-danger btn-small" id="delete-customer"><i class="icon icon-remove-sign"></i> Customer</a>
</div>
