<div class="btn-group">
  <a href="#" class="btn" id="edit-customer">Edit</a>
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    <i class="icon icon-plus-sign"></i> Transactions
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a href="#" id="add-purchase">Add Purchase</a></li>
    <li><a href="#" id="add-payment">Add Payment</a></li>
  </ul>
</div>
<div class="btn-group">
  <a class="btn dropdown-toggle btn-danger" data-toggle="dropdown" href="#">
    <i class="icon icon-remove-sign"></i> Delete
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a href="#" id="delete-customer">Yes, Delete</a></li>
  </ul>
</div>
