<div class="btn-group">
  <a href="#" class="btn" id="edit-customer"><i class="icon icon-edit"></i> Edit</a>
  <a href="#" class="btn" id="add-purchase"><i class="icon icon-shopping-cart"></i> Add Purchase</a>
  <a href="#" class="btn" id="add-payment"><i class="icon icon-check"></i> Add Payment</a>
</div>
