<form>
    <fieldset>
    <legend>Edit: {{ name }}</legend>
    <input type="text" placeholder="Name" value="{{ name }}" />
    <input type="text" placeholder="Email" value="{{ email }}" />
    <input type="text" placeholder="Phone" value="{{ phone }}" /><br />
    <button type="submit" class="btn btn-primary">Update</button>
    <a class="btn" id="cancel">Cancel</a>
  </fieldset>
</form>
