<div>
  <a class="btn" id="add-customer"><i class="icon icon-plus-sign"></i> Add Customer</a>
</div>
<div class="new form">
  <form>
      <fieldset>
      <legend>New Customer</legend>
      <input type="text" placeholder="Name">
      <input type="text" placeholder="Email">
      <input type="text" placeholder="Phone"><br />
      <button type="submit" class="btn btn-primary">Add</button>
      <a class="btn">Cancel</a>
    </fieldset>
  </form>
</div>
