<div class="row">
  <div class="span4">
    <a class="btn" id="add-customer"><i class="icon icon-plus-sign"></i> Add Customer</a>
  </div>
  <div class="span4"></div>
  <form class="form-search span-4">
    <div class="input-append">
      <input type="text" class="span2 search-query " name="query" id="query" />
      <button type="submit" class="btn btn-mini" id="search"><i class="icon icon-search"></i> </button>
    </div>
  </form>
</div>
