<%= content_for :js do %>
  <%= javascript_tag do %>
    window.customersList = new App.Collections.Customers(<%= (@customers.to_json).html_safe %>);
    console.log(customersList);

    window.customersListView = new App.Views.Customers({ collection: customersList });
    customersListView.render();
    $('#customers-placeholder').html(customersListView.el);
  <% end %>
<% end %>

<div id="customers-placeholder">
  <ul id="customers-list" data-role="listview" data-autodividers="true" data-filter="true" data-inset="true"></ul>
</div>


