<%= content_for :js do %>
  <%= javascript_tag do %>
    $(document).ready(function(){
      App.initialize();
    });
  <% end %>
<% end %>

<div id="customers-placeholder">
  <ul id="customers-list" data-role="listview" data-autodividers="true" data-filter="true" data-inset="true"></ul>
</div>


