<div class="form-actions">
  <a href="#" class="btn btn-primary" id="save-sale"><i class="icon-save"></i> Save</a>
  <a href="#" class="btn btn-link" id="edit-sale"><i class="icon-plus-sign"></i> Add Item</a>

  <div class="btn-group">
    <a class="btn dropdown-toggle btn-link" data-toggle="dropdown" href="#">
      <i class="icon icon-remove-sign"></i> Cancel
    </a>
    <ul class="dropdown-menu">
      <li><a href="#" id="delete-sale">Yes, Cancel</a></li>
    </ul>
  </div>
</div>
