<form>
    <fieldset>
    <legend>New Customer</legend>
    <div class="control-group">
      <input type="text" placeholder="Name" name="name" value="{{ name }}" />
    </div>
    <div class="control-group">
      <input type="text" placeholder="Email" name="email" value="{{ email }}" />
    </div>
    <div class="control-group">
      <input type="text" placeholder="Phone" name="phone" value="{{ phone }}" /><br />
    </div>
    <div class="control-group">
      <button type="submit" class="btn btn-primary">Add</button>
      <a class="btn" id="cancel">Cancel</a>
    </div>
  </fieldset>
</form>
