<form>
    <fieldset>
    <legend>New Customer</legend>
    <input type="text" placeholder="Name">
    <input type="text" placeholder="Email">
    <input type="text" placeholder="Phone"><br />
    <button type="submit" class="btn btn-primary">Add</button>
    <a class="btn" id="cancel">Cancel</a>
  </fieldset>
</form>
