<div class="row">
  <form class="form-search span12">
    <div class="input-append">
      <input type="text" class="span2 search-query input-large" name="query" id="query" />
      <button type="submit" class="btn" id="search"><i class="icon icon-search"></i> </button>
    </div>
  </form>
</div>
