body {
  padding-top: 60px;
}
a {
  text-decoration: none;
}
.input-prepend .add-on {
  padding: 9px 5px;
}
.navbar-inverse .brand {
  border-bottom: 0 none;
  border-right: 0 none;
}
.navbar-fixed-top {
  position: fixed;
}
.dropdown-menu {
  background: #fff;
  position: absolute;
  top: 52%;
}
.left-side {
  float: left;
  width: 40%;
  margin-right: 1em;
}

.right-side {
  float: right;
  text-align: right;
  width: 50%;
}

td.currency, .payment-date, .currency {
  text-align: right;
}

.transaction-date, .concept {
  font-size: 90%;
}
.amount {
  text-align: right;
  font-size: 110%;
  margin-bottom: 0.5em;

  &.large {
    font-size: 150%;
  }
}
.concept {
  font-style: italic;
}
.monotype {
  font-family: 'Share Tech Mono', sans-serif;
}
.destroy {
  margin-top: 1em;
}
.destroy-link {
  color: red;
}

@media only screen
and (max-width : 480px) {
/* Styles */
  .btn {
    padding: 7px 10px 7px;
  }
  .dropdown-menu {
    background: #fff;
    position: absolute;
    top: 45%;
  }
  .btn-group+.btn-group {
    margin-left: 0;
  }
  input.search-query {
    padding: 1.33em 5px;
  }
  .btn {
    padding: 9px 7px 10px;
  }
  .btn-group>.btn+.dropdown-toggle {
    padding-left: 8px;
    padding-right: 8px;
  }
  #panel-region .btn-group>.btn:first-child {
    margin-left: -5px;
  }
}
