// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-size: 16px;
}
#page, #message-center {
  margin-top: 20px;
}
.extra-margin {
  margin-bottom: 1em;
}
.bordered {
  border-bottom: 1px solid #eee;
  padding-bottom: 1em;
}
.form.form.form-hidden {
  display: none;
}
