<legend>Edit Payment</legend>
<div class="control-group">
  <div class="input-prepend">
    <span class="add-on">$</span>
    <input type="text" placeholder="Amount" name="amount" value="{{ amount }}" />
    <input type="hidden" name="customer_id" value="{{ customer.id }}" />
  </div>
</div>
